h2, h3 {
	text-align: center
}

.main-content {
	padding: 60px
}

.button {
	display: block;
	margin: 0 auto;
	border-radius: 8px;
	border: none;
	padding: 12px 28px
}

.button:hover {
  	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=text],
input[type=number] {
	width: 180px;
    text-align: center;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid #ccc;
	transition: 0.5s;
	outline: none;
}

input[type=text]:focus,
input[type=text]:hover,
input[type=number]:focus,
input[type=number]:hover {
	border: 3px solid #555;
}

.palindrome {
	text-align: center;
}