table {
	font-family: Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-top:15px;
	margin-bottom: 10px
}

td, th {
	border: 1px solid #ddd;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:nth-child(odd) {
	background-color: white;
}

tr:hover {
	background-color: #ddd;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #e21f4c;
	color: white;
}